<h1 id="page-title"> Your Shopping Cart</h1>

<div class="cart-product-listing">
    {{#each products}}
    <div class="cart-product" id={{product_id}}>
        
        <a href="/p/{{product_id}}">
            <div class="cart-product-image-container">
                <img class="cart-product-image" 
                    src="/images/products/{{category}}/{{type}}/{{image}}1.jpg" 
                    alt="">
            </div>
        </a>
        <div class="cart-product-description">
            <table class="cart-table">
                <caption>{{color_name}} {{name}}</caption>
                {{#ifCond size '!=' 'null'}}
                <tr>
                    <td>Size: {{size}}</td>
                </tr>
                {{/ifCond}}
                <tr>
                    <td>Quantity: {{quantity}}</td>
                </tr>
                <tr>
                    <td>Total Price: ${{totalprice}}</td>
                </tr>
            </table>
        </div> 
        <form method="post" action="/removeFromCart/{{product_id}}">
            <input type="hidden" name="product_id" value="{{product_id}}">
            {{#ifCond type '==' 'Clothing' }}
                <input type="hidden" name="color" value={{color_id}}>
                <input type="hidden" name="size" value={{size}}>
            {{/ifCond}}
            <input type="hidden" name="quantity" value="1">
            <button class="remove-from-cart" type="submit">Remove From Cart</button>
        </form>
    </div>
    {{/each}}
</div>