<h1>This is the Products Page </h1>

<div class="product-listing">
    {{#each products}}
    <div class="product" id={{id}}>
        <a href="/p/{{id}}">
            <div class="product-image-container">
                <img class="product-image" src="/images/{{image}}1.jpg" 
                    alt="">
            </div>
        </a>
        <p>{{name}}</p>
        <button class="add-to-cart" data-id="{{id}}">
            Add to Cart
        </button>
    </div>
    {{/each}}
</div>