<div class="mini-nav">
    <a href="/products">Shop All</a> / 
    <a href="/products?category={{data.category}}">{{data.category}}</a> / 
    <a href="/products?category={{data.category}}&type={{data.type}}">{{data.type}}</a> / 
    {{data.name}}
</div>

<div class="individual-product" id={{data.product_id}}>
    <div class="individual-product-image-container">
        <img class="individual-product-image" 
            src="/images/products/{{data.category}}/{{data.type}}/{{data.image}}1.jpg" 
            alt="">
    </div>
</div>
<div id="individual-product-details">
    <p id="individual-product-price">${{data.price}}</p>
    <h1 id="individual-product-name">{{data.name}}</h1>
    
    <div id="individual-product-description">
        <h4>DESCRIPTION</h4>
        <p id="individual-product-description">{{data.description}}</p>
    </div>
 
    {{#ifCond data.type '==' 'Clothing'}}
        {{#ifCond data.sizes.is_youth '==' 1 }}
            <h4>YOUTH SIZES:</h4>
        {{else}}
            <h4>ADULT SIZES:</h4>
        {{/ifCond}}
        <form id="to-cart" method="post" action="/addToCart/{{data.product_id}}">
        {{#each data.sizes as |value key| }}
            {{#ifCond key '!=' 'product_id'}}
                {{#ifCond key '!=' 'is_youth'}}
                    {{#ifCond value '==' 1}}
                        <input type="radio" name="size" id={{key}} value={{key}}>
                        <label for={{key}}>{{key}}</label>
                    {{/ifCond}}
                {{/ifCond}}
            {{/ifCond}}
        {{/each}}
            <br><br><button class="add-to-cart" type="submit">Add to Cart</button>
        </form>
    {{else}}
        <form method="post" action="/addToCart/{{data.product_id}}">
            <button class="add-to-cart" type="submit">Add to Cart</button>
        </form>
    {{/ifCond}}
</div>